@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


* {
    box-sizing: border-box;
}

body {
    background: linear-gradient( 90deg , rgba(5, 67, 124, 0.982) , rgba(5, 43, 157, 0.752));
    color: #fff;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: rgba(8, 37, 133, 0.963);
    border-radius: 5px;
    padding: 3% 5%;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color : lightblue;
    padding-left: 5px;
}

.btn {
     cursor: pointer;
     display: inline-block;
     width: 100%;
     background-color: lightblue;
     padding: 15px;
     font-family: inherit;
     font-size: 16px;
     border: 0;
     border-radius: 5px;
}

.btn:focus {
    outline: 0;
}

.btn:active{ 
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
}
 
.form-control {
    position: relative;
    margin: 20px 0 40px ;
    width : 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width :100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.form-control input:focus, .form-control input:valid {
  outline: none;
  border-bottom-color: lightblue;
}

.form-control label {
    position: absolute;
    left: 0;
    top:15px;
}

.form-control label span {
     font-size: 18px;
     display: inline-block;
     min-width: 5px;
     transition: 0.3s cubic-bezier(0.5,-0.6,0.7,1.4);
}

.form-control input:focus + label span, .form-control input:valid + label span{
     color: lightblue;
     transform: translateY(-30px);
}

